
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    flex: 1;
    background-image: url('focushub.webp'); /* Replace with your image */
    background-size: cover;
    background-position: center;
}

.right-panel {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type=email], input[type=password] {
    padding: 10px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #04AA6D; /* Green color */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9; /* Slightly transparent on hover */
}

p {
    margin-top: 20px;
}